#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel1{
    border:1px solid blue;
    padding-left:0px;
    padding-right:0px;
    float:none;
}
.movie1{
  font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
    width:100%;
    display:inline-block;
}
.movie1 i{
    float:right;
}
.movie2 span{
    color:orange;
}
.environment1{
  margin-top:13px;
}
.environment1 h4{
    border-bottom:1px solid white;
    padding:8px;
}
.environment1 img{
    border-radius:25px;
}
.environment1 p{
    margin-top:10px;
    font-size:18px;
}
.books1{
    cursor:pointer;
}
.books1 hr{
    margin-bottom:10px;
}
.modal_img{
  display:inline-block;  
}
.modal-body{
    text-align:center;
}
.modal_p{
    margin-top:10px;
}
.modal-content{
    margin-top:10px;
}
